        @import url("https://fonts.googleapis.com/css?family=Amatic+SC|Chakra+Petch&display=swap");
        @import url("https://fonts.googleapis.com/css?family=Amatic+SC|Rajdhani&display=swap");
        @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
        * {
            padding: 0%;
        }
        
        .font-nav {
            font-family: "Chakra Petch", sans-serif;
            font-size: 20px;
        }
        
        .font-cont {
            font-family: "Rajdhani", sans-serif;
        }
        
        .nav-color {
            background-color: #0c2f48;
        }
        
        .first-section {
            background-color: #02122f;
        }
        
        .img-fluid {
            margin-top: 150px;
            width: 900px;
        }
        
        .second-section {
            padding-top: 13%;
            padding-bottom: 6%;
        }
        
        .img-card {
            width: 159px;
        }
        
        .text-card-proyect {
            font-family: "Rajdhani", sans-serif;
        }
        
        .background-black {
            padding: 0.75rem 1.25rem;
            color: azure;
            border-top: 1px solid rgba(0, 0, 0, 0.125);
            background-color: #003448;
            ;
        }
        
        .proyect-section {
            padding-right: 9%;
            padding-left: 9%;
            height: auto;
            margin-top: 0%;
            padding-top: 80px;
        }
        
        .home-section {
            height: auto;
            margin-top: 0%;
            padding-top: 3%;
        }
        
        .aboutme-section {
            padding-right: 9%;
            padding-left: 9%;
            height: auto;
            margin-top: 0%;
            padding-top: 80px;
        }
        
        .contact-section {
            padding-right: 9%;
            padding-left: 9%;
            height: auto;
            margin-top: 0%;
            padding-top: 70px;
            padding-bottom: 1%;
            background-color: #0c2f48;
            color: azure;
        }
        
        .title-section {
            margin-bottom: 3%;
            border-bottom: solid;
            border-color: darkgrey;
            padding-bottom: 1%;
        }
        
        .icon-cont {
            border-top: solid;
            border-bottom: solid;
            border-color: darkgrey;
        }
        
        @media only screen and (max-width: 824px) {
            .celphone {
                display: block !important;
            }
            .browser {
                display: none !important;
            }
            .delatepadding {
                padding: 0% !important;
            }
        }
        
        .hljs {
            display: block;
            overflow-x: auto;
            background: #0c0b0c;
            color: #8b8792;
            padding: 0.5em;
        }
        /* hightlight */
        
        .hljs-comment,
        .hljs-quote {
            color: #7e7887;
        }
        /* Atelier-Cave Red */
        
        .hljs-variable,
        .hljs-template-variable,
        .hljs-attribute,
        .hljs-regexp,
        .hljs-link,
        .hljs-tag,
        .hljs-name,
        .hljs-selector-id,
        .hljs-selector-class {
            color: #be4678;
        }
        /* Atelier-Cave Orange */
        
        .hljs-number,
        .hljs-meta,
        .hljs-built_in,
        .hljs-builtin-name,
        .hljs-literal,
        .hljs-type,
        .hljs-params {
            color: #aa573c;
        }
        /* Atelier-Cave Green */
        
        .hljs-string,
        .hljs-symbol,
        .hljs-bullet {
            color: #2a9292;
        }
        /* Atelier-Cave Blue */
        
        .hljs-title,
        .hljs-section {
            color: #576ddb;
        }
        /* Atelier-Cave Purple */
        
        .hljs-keyword,
        .hljs-selector-tag {
            color: #955ae7;
        }
        
        .hljs-deletion,
        .hljs-addition {
            color: #19171c;
            display: inline-block;
            width: 100%;
        }
        
        .hljs-deletion {
            background-color: #be4678;
        }
        
        .hljs-addition {
            background-color: #2a9292;
        }
        
        .hljs {
            display: block;
            overflow-x: auto;
            background: #19171c;
            color: #8b8792;
            padding: 0.5em;
        }
        
        .hljs-emphasis {
            font-style: italic;
        }
        
        .hljs-strong {
            font-weight: bold;
        }
        
        .imgRedonda {
            width: 200px;
            height: 200px;
            border-radius: 150px;
        }
        
        .container-text-effect {
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 12vh;
        }
        
        h1 {
            margin: 0;
        }
        
        .typing-text::after {
            content: "|";
            animation: blink ease 1s infinite;
        }
        
        @keyframes blink {
            0%,
            100% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
        }